html,
body {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(235, 235, 235);
    background: rgb(25, 25, 25);
  }
}


/* ELLIOT CSS :] */

/* utilities */

.dbox {
  box-sizing: border-box;
  border: 1px solid red;
}

.fwbox {
  display: flex;
  width: 100vw;
}

.mwbox {
  display: flex;
  width: 100vw;
  max-width: 900px;
  margin: auto;
}

.spacer2 {
  width: 100%;
  height: 2vh;
}

.spacer5 {
  width: 100%;
  height: 5vh;
}

.nudge-smaller {
  transform: scale(.92);
}

.force-wide {
  visibility: hidden;
}

/* styles */

/* reusable */


.main-title {
  font-size: 28px;
  margin: auto;
  text-align: center;
}

.text-section {
  width: 45%;
  margin: auto;
  text-align: center;
  font-size: 16px;
  max-width: 450px;
  color: rgb(185, 185, 185);
  font-style: italic;
}

.text-section span {
  color: rgb(181, 39, 181);
}

.sm-divider {
  width: 100px;
  border: .3px solid grey;
  background-color: grey;
  border-radius: 1px;
  margin: auto;
  margin-bottom: 1.5vh;
}
.med-divider {
  width: 300px;
  border: 1.1px solid grey;
  background-color: grey;
  border-radius: 2px;
  margin: auto;
}

.img-row {
  display: flex;
  justify-content: center;
}

.gif {
  width: 250px;
  height: auto;
  margin: 2vh 1vh 2vh 1vh;
}

/* header and navbar */

.header-nav-bkgd {
  background: linear-gradient(rgb(42, 42, 42), rgb(50, 50, 50));
  padding-bottom: 1.5vh;
}

.header {
  margin: auto;
  margin-top: 1vh;
  width: 150px;
  text-align: center;
  font-size: 21px;
}

.header span {
  font-size: 18px;
}

.nav-button {
  margin: auto;
  margin-top: 1vh;
  text-align: center;
  width: 150px;
  color: grey;
  filter: drop-shadow(1px 1px 9px #000000);
}

.selected-page {
  color: rgb(102, 168, 255);
}

.nav-button:hover {
  color: rgb(102, 168, 255);
}

.nav-button:hover .underline{
  border: 2px solid rgb(73, 120, 182);
}

.underline {
  width: 50px;
  border: 2px solid grey;
  border-radius: 2px;
  margin: auto;
}

.selected-underline {
  border: 2px solid rgb(73, 120, 182);
}

/* About Page */

.avatar {
  width: 150px;
  height: auto;
  margin: 2vh 1vh 2vh 1vh;
  border: 4.5px solid white;
  transition: filter .2s ease-in-out;
}

.avatar:hover {
  filter: blur(1px) brightness(.5);
}

.quote {
  position: absolute;
  text-align: center;
  color: rgb(235, 235, 235);
  font-style: italic;
  transform: translateY(-15px);
  opacity: 0%;
  transition: opacity .2s ease-in-out;
}

.ryan-quote {
  transform: translateX(-170px) translateY(140px);
}

.ryan:hover ~ .ryan-quote {
  opacity: 100%;
}

.elliot-quote {
  transform: translateX(0px) translateY(140px);
}

.elliot:hover ~ .elliot-quote {
  opacity: 100%;
}

.albert-quote {
  transform: translateX(170px) translateY(140px);
}

.albert:hover ~ .albert-quote {
  opacity: 100%;
}

.personal-details-box {
  width: calc(150px + 2vh);
  text-align: center;
}

.personal-details-box span {
  filter: drop-shadow(1px 1px 17px #ebebeb);
}

.link-icons-container {
  display: inline-flex;
}

.link-icon {
  width: 25px;
  height: 25px;
  margin: 2vh 1vh auto 1vh;
  filter: invert(1);
  filter: drop-shadow(1px 1px 9px #ebebeb);
}

.airplane {
  filter: invert(.8);
}

.link-icon:hover {
  filter: invert(.5);
}

/* Big Card */

.big-card-container {
  position: fixed;
  top: 15vh;
  left: 0%;
  height: 85vh;
  width: 100vw;
  animation: fade-in .1s ease-in forwards;
}

@keyframes fade-in {
  0% { opacity: 0}
  100% { opacity: 1}
}

.big-img-container {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
}

.big-image {
  position: relative;
  height: 60vmin;
  width: auto;
  /* margin: auto; */
  margin: 15px;
  transition: transform 5s ease-in-out;
}

.big-image:hover {
  transform: scale(1.05);
}



.panel {
  position: relative;
  align-items: center;
  min-width: 10vw;
  max-width: 16vw;
  background: rgb(216, 216, 216);
  border-radius: 1vh;
  height: 45vh;
  color: rgb(37, 37, 37);
  margin-top: -2vh;
}

.sub-panel {
  background-color: rgb(163, 163, 163);
  border-radius: 5px;
  margin: 10px;
  height: 65%;
  font-size: 1.4vmin;
}

.big-card-details {
  margin-left: auto;
}

.big-card-actions {
  margin-right: auto;
}

.detail-text-header {
  position: relative;
  word-wrap: normal;
  margin: auto;
  text-align: center;
  font-size: 2vmin;
}

.interior-item {
  margin: .7vw auto .5vh auto;
  padding: 0vw 2vw 0vw 2vw;
  position: relative;
}

.action-button-positioning {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
}

.action-button {
  margin: auto;
  margin-bottom: 15px;
}

.transition-blur {
  transition: filter .2s ease-in-out;
}

.conditional-blur {
  filter: blur(10px);
  pointer-events: none;
}

.img-and-button {
  position: relative;
}

.back-button {
  width: 20px;
  height: 20px;
  background-color: rgb(222, 222, 222);
  border-radius: 100%;
  position: absolute;
  color: black;
  text-align: center;
  top: 2vh;
  right: -4%;
}

.back-button:hover {
  background-color: grey;
}

.card-attributes {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.attribute-title {
  font-weight: bold;
}

.attribute-value {
  text-align: right;
  margin-right: 15px;
  font-style: oblique;
}

.wallet-list {
  width: 90%;
  height: 100%;
  position: relative;
  overflow: scroll;
  margin: auto;
  margin-top: 20px;
}

.wallet-item {
  font-style: oblique;
  text-align: left;
  margin: 2px;
  margin-left: 0px;
}

/* big grids */

.grid-container {
  width: 90vw;
  margin: auto;
  margin-top: 3vh;
  max-width: 1000px;
  padding: 2vw;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.small-card {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.small-card-img {
  width: 90%;
  height: auto;
}

.purple-text {
  color: rgb(249, 102, 239);
}